###########################################
################# Alexa ###################
###########################################

winner_skill_id = "<THE_SONG_IS_SKILL_ID>"
delete_keys_skill_id = "<DELETE_KEYS_SKILLS_ID>"
