###########################################
############# Confluent Cloud #############
###########################################

ccloud_broker_list = "<BOOTSTRAP_SERVERS>"
ccloud_access_key = "<CCLOUD_ACCESS_KEY>"
ccloud_secret_key = "<CCLOUD_SECRET_KEY>"
